
{% load static %}
<!doctype html>
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'assets/js/msg.js' %}"></script>
<!------ Include the above in your HEAD tag ---------->



<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
<style>

      .container{
        border:2px solid blue;
        text-align:center;
        margin: auto;
        height:500px;
        width:400px;
    }
    {#body{#}
    {#    padding:70px;#}
    {#}#}
       .mainform{
        padding:70px;
    }
    h1{
        margin:auto;
    }
    .row{
        height:90px;
        width:396px;
        background-color:paleturquoise;
    }
</style>



</head>

 <body>


<div class="mainform"  style="align-items: center;">
<div class="container">
	<div class="row">
		 <h1><i class="fa fa-lock" aria-hidden="true"></i> United Cousins </h1>
<b>  {% include 'messages.html' %}</b>
        </div><br /><br />

       <form action="login" method="post" style="margin: auto">
           {% csrf_token %}
                	<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
								</div>
								<input type="text" name="username" class="form-control" placeholder="username"/>
							</div><br />

                	<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-key icon"></i></span>
								</div>
									<input type="Password" name="password" class="form-control" placeholder="password"/>
							</div><br />
            <div class="checkbox">
              <label><input type="checkbox" value=""/> Remember me</label>
            </div><br />
              <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Login</button>

        <button  class="btn btn-info"><span class="glyphicon glyphicon-remove"></span><a href="/" style="color:#fff">Home page</a></button><br />
               <br /> <center><div style="border:1px solid black;height:1px;width:300px;"></div></center><br />
        <div class="footer">
                  <p>Don't have an Account! <a href="/accounts/register">Sign Up Here</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
</form>
	</div>
</div>
</body>

</html>

