
{% load static %}
<!doctype html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'assets/js/form.js' %}"></script>
    <style>
	.palel-primary
	{
		border-color: #bce8f1;
	}
	.panel-primary>.panel-heading
	{
		background:#bce8f1;
		
	}
	.panel-primary>.panel-body
	{
		background-color: #EDEDED;
	}
</style>
</head>
<body>
{#header goes here#}

{% block content %}
 <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>

        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header>


{#ends#}
<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
		<div class="panel panel-primary ">
			<div class="panel-heading ">Please Register Here
			</div>
			<div class="panel-body">
				<form name="myform" action="register" method="post">
				{% csrf_token %}
					<div class="form-group">
						<label for="myName">First Name *</label>
						<input id="myName" name="first_name" class="form-control" type="text" data-validation="required">
						<span id="error_name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="lastname">Last Name *</label>
						<input id="lastname" name="last_name" class="form-control" type="text" data-validation="email">
						<span id="error_lastname" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="age">Username*</label>
						<input id="user_name" name="user_name"  class="form-control" type="text"  >
						<span id="error_age" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="age">password*</label>
						<input id="user_name" name="password1"  class="form-control" type="password"  >
						<span id="error_age" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="age">Confirm password*</label>
						<input id="user_name" name="password2"  class="form-control" type="password"  >
						<span id="error_age" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="age">Email address*</label>
						<input id="user_name" name="email"  class="form-control" type="email"  >
						<span id="error_age" class="text-danger"></span>
					</div>
	<button id="submit" type="submit" value="submit" class="btn btn-primary center">Submit</button>
			
				</form>

			</div>
		</div>
	</div>
</div>



{% comment %} 
<div class="login-page">
<h3 class="ml3">Welcome to UnitedCousins website</h3>
  <div class="form">
    <form class="register-form" action="register" method="post">
    {% csrf_token %}
          <input type="text" name="first_name" placeholder="First Name"/>
       <input type="text" name="last_name" placeholder="Last Name"/>
        <input type="text" name="user_name" placeholder="User Name"/>
         <input type="text" name="email" placeholder="email eg example@gmail.com"/>
      <input type="password" name="password1" placeholder="password"/>
      <input type="password" name="password2" placeholder="confirm password"/>
      <button>create</button>
      <p class="message">Already registered? <a href="/accounts/login">Sign In</a></p>
    </form>

  </div>
</div> {% endcomment %}




</body>

</html>
 {% endblock %}