
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="position: fixed; width: 100%;">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">United Cousins</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>





        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
{#             {% include 'messages.html' %}#}
      </nav><!-- .navbar -->

    </div>

  </header>
